global
        daemon
        maxconn 256
defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

listen http-in
        bind *:80
	{% for host in groups.web %}
          server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:80
	{% endfor %}
